<div class="audio-card" (keyEnterEvent)="openDescription()" (click)="openDescription()">
  <div class="audio-card__img" style.backgroundImage="url({{ cover }})" [attr.alt]="book.title">
  </div>
  <div class="audio-card__name">
    {{ book.title }}
  </div>
</div>
