@import '../../../colors.scss';

.audio-card {
  background-color: #232323;
  position: relative;
  box-shadow: 0 0 .94rem 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 1.87rem;
  color: #fff;
  cursor: pointer;
  width: 23%;
  margin-right: 2%;
  display: inline-block;
  padding-bottom: 1.25rem;

  .show-all {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: block;
    text-align: center;
    height: 2rem;
    left: 0;
    top: calc(50% - 1rem);
  }

  &:focus {
    background-color: $hover;
    outline: none;
    box-shadow: none;

    .audio-card__name{
      color: #fff;
    }
  }

  &__img{
    position: relative;
    margin-bottom: 1.31rem;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;

    &_stub {
      opacity: 0;
    }

    &:after{
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    &-img {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      min-height: 100px;
    }
  }

  &__play {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    opacity: 0;

    img{
      width: 100%;
    }
  }

  &__name{
    font-size: calc(.5rem + .92vw);
    margin-bottom: calc(3px + .3vw);
    text-align: center;
    padding: 0 .94rem;
    white-space: nowrap;
		overflow: hidden;
    text-overflow: ellipsis;

    &_stub {
      opacity: 0;
    }
  }
}
