<div class="banner"><!--  style.backgroundImage="url({{ getCover((posterChannel | async).channel_id, 1500, 1200)}})" -->

    <video id="video" class="banner__video" autoplay loop></video>
 
   
     <div class="title">
       <span class="title__big">ТВ</span>
       <span class="title__small">Сейчас смотрят</span>
     </div>

     <div class="channel-card" *ngFor="let item of (channels | async)" style.backgroundImage="url({{ getCover(item.channel_id, 2000, 2000)}})">
   
       <div class="channel-card__info">
   
         <img [src]="item.logo" alt="" class="channel-card__info-logo">
   
         <div class="channel-card__info-name">
           <div class="name">{{item.name}}</div>
           <div class="info">Сейчас в эфире: <span style="color: orange"> Новости</span></div>
         </div>
       </div>
     </div>

 </div>
 
 