
  .header  {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(black, .3);
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    &__menu {
      width: 45px;
      height: 45px;
      border: 1px solid #e05f20;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &-line {
        width: 35px;
        height: 2px;
        background-color: #e05f20;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 8px;
          width: 35px;
          height: 2px;
          background-color: #e05f20;
        }

        &::before {
          position: absolute;
          content: '';
          bottom: 8px;
          width: 35px;
          height: 2px;
          background-color: #e05f20;
        }
      }
    }
  }


.test {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15rem;
  padding-top: 120px;
  position: relative;

  .video-card {
    width: 26%;
    margin-right: 4%;
    margin-bottom: 3rem;

    &__img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        padding-bottom: 140%;
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, transparent 70%, black 100%);
      }
    }

    &__info {
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;

      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .genre {
        font-size: .9rem;
        color: #e05f20;
      }
    }
  }
}


.carousel {
  width: 100%;
  margin-top: 10rem;

  .slide {
    margin: 0 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  .slick-current {
    // transform: scale(1.3);
  }
}

.slick-wrapper {
  position: relative;

  .activebkgr {
    position: absolute;
    width: 900px;
    height: 600px;
    filter: blur(3px);
    left: 200px;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../../assets/images/menu3.jpg');
  }
}

.item {
  width: 100%;
  height: 30rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__dark {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, transparent 70%, black 100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 4rem 5rem;

    .name {
      font-size: 4rem;
      text-transform: uppercase;
    }

    .orange {
      color: #e05f20;
      padding-left: 15px;
      font-weight: 600;
    }

    .title {
      // font-weight: bold;
    }
  }
}
