<div class="header">
  <div class="header__logo">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="163" height="47"
      viewBox="0 0 163 47">
      <defs>
        <linearGradient id="c" x1="100%" x2="0%" y1="50%" y2="50%">
          <stop offset="0%" stop-color="#A3C718" />
          <stop offset="100%" stop-color="#ABE06A" />
        </linearGradient>
        <path id="b" d="M18.598.608v20l16-10.821z" />
        <filter id="a" width="187.5%" height="170%" x="-43.8%" y="-25%" filterUnits="objectBoundingBox">
          <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
          <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2" />
          <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
        </filter>
      </defs>
      <g fill="none" fill-rule="evenodd">
        <text font-family="OpenSans-Bold" font-size="24" font-weight="bold" transform="translate(45 11)">
          <tspan x="0" y="26" fill="#FFF">PERSIK </tspan>
          <tspan x="87.691" y="26" fill="#E05F20">TV</tspan>
        </text>
        <path fill="#E05F20"
          d="M18 46.342c-9.941 0-18-8.06-18-18 0-9.941 8.059-18 18-18s18 8.059 18 18c0 9.94-8.059 18-18 18zm0-10.957a7.043 7.043 0 1 0 0-14.087 7.043 7.043 0 0 0 0 14.087z" />
        <g transform="translate(0 1)">
          <use fill="#000" filter="url(#a)" xlink:href="#b" />
          <use fill="url(#c)" xlink:href="#b" />
        </g>
      </g>
    </svg>
  </div>

  <div class="header__menu">
    <div class="header__menu-line"></div>
  </div>
</div>

<div class="slick-wrapper">

  <!-- <div class="activebkgr">

  </div> -->

<ngx-slick class="carousel" #slickModal [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of menuItems; let i = index" class="slide">
        <div class="item" (click)="scrollTo(i)" style.backgroundImage="url(assets/images/{{ slide.image }})">
          <!-- <img src="assets/images/{{ slide.image }}" alt="" width="100%"> -->
          <div class="item__dark">
            <span class="name">{{ slide.name }}</span>
            <span class="title">123 программы передач <span class="orange">Смотреть ТВ</span></span>
          </div>
        </div>
  </div>
</ngx-slick>
</div>


<div class="test">


  <div class="video-card" *ngFor="let item of content">
    <div class="video-card__img" style.backgroundImage="url({{ item.cover }})"></div>
    <div class="video-card__info">
      <span class="name">{{ item.name }}</span>
      <span class="genre">Боевик, комедия, драма</span>
    </div>
  </div>
</div>
