<div class="channel-card" (deferLoad)="showItem()">
  <div class="logo" >
    <img *ngIf="isShow && isBrowser" class="logo__img" [src]="channel?.logo" alt="">
  </div>

  <div class="channel-card__img" *ngIf="isShow && isBrowser" style.backgroundImage="url({{ cover }})" [attr.alt]="channel?.name">
    <div class="channel-card__progress" [style.width.%]="(tvshow | async) | progressPipe : currentTime"></div>
  </div>
 <div class="channel-card__name">
    {{ channel?.name }}
  </div>
   <div class="channel-card__genre">
    {{ (tvshow | async)?.title | titlePipe }}
  </div>
</div>
