@import '../../../../../colors.scss';

.wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 2rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #232323 5%, rgba(35, 35, 35, 0.37) 50%, #232323 95%);
  }

  .menu-item {
    width: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px 3px black;
    border-radius: 30px;
    overflow: hidden;

    &__info {
      position: absolute;
      left: 140px;
      bottom: 70px;

      .name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 80px;
      }

      .text {
        font-size: 14px;
        font-weight: bold;

        span {
          padding-left: 10px;
          color: #ff8749;
        }
      }
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: 55%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 40%;
      width: 100%;
      background: linear-gradient(to top, black, transparent);
    }

  }
}

.test {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  position: relative;


  .left-menu {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 12rem;
    // background-color: rgba(black, .2);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;

    .container {
      margin-top: 2rem;
      width: 100%;
      // border-top: 1px solid rgba(white, .1);
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .chapter-name {
        width: 100%;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        padding: 1rem;
        // border-bottom: 1px solid rgba(white, .1);
        box-sizing: border-box;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          height: 1rem;
          margin-right: 18px;
        }
      }

      .chapters {
        width: 100%;
        overflow: hidden;
        height: 3rem;
        position: relative;
        transition: .3s ease-in-out;
        border-bottom: 1px solid rgba(white, .1);
      }

      .genres {
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: .3s ease-in-out;
        overflow-y: auto;
        height: 100%;
      }

      .item {
        text-transform: uppercase;
        cursor: pointer;
        color: rgba(white, .6);
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 1.2rem;
          margin-right: 15px;
        }

        span {
          text-transform: capitalize;
        }
      }
    }
  }
}

.card-wrapper {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 4rem 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .noeffects {
    background-image: none !important;

    &::after {
      background: none !important;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, #232323 5%, rgba(35, 35, 35, 0.37) 50%, #232323 95%);
  }

  &__img {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;


  }
}

.channel-card {
  width: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0 0 20px 0 black;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;

  .thumbnail {
    width: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 4rem;
    top: 2.5rem;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 55%;
  }

  &__info {
    height:  9rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &-logo {
      width: 84px;
      margin-right: 1.5rem;
      margin-bottom: -.7rem;
    }

    &-name {
      .name {
        font-weight: bold;
        font-size: 20px;
      }

      .info {
        font-size: 14px;

        span {
          color: $hover;
          padding-left: 10px;
          font-weight: bold;
        }
      }
    }
  }
}
