.title {
    display: flex;
    flex-direction: column;
    padding: 25rem 0 4rem 0;
    width: 90%;
    align-items: center;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 10px black;
    margin: 0 auto;
  
    &__big {
      text-transform: uppercase;
      font-size: 3.6rem;
      font-weight: bold;
    }
  
    &__small {
      font-size: 2rem;
    }
  }
  
  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .left-menu {
      position: fixed;
      z-index: 1;
      height: 100vh;
      width: 12rem;
      // background-color: rgba(black, .2);
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 2rem;
  
      .container {
        margin-top: 2rem;
        width: 100%;
        // border-top: 1px solid rgba(white, .1);
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .chapter-name {
          width: 100%;
          text-transform: uppercase;
          cursor: pointer;
          color: white;
          padding: 1rem 2rem;
          // border-bottom: 1px solid rgba(white, .1);
          box-sizing: border-box;
          font-weight: bold;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          box-sizing: border-box;
          height: 4rem;
  
          img {
            height: 1rem;
            margin-right: 18px;
          }
        }
  
        .chapters {
          width: 100%;
          overflow: hidden;
          height: 4rem;
          position: relative;
          transition: .3s ease-in-out;
          border-bottom: 1px solid rgba(white, .1);
        }
  
        .genres {
          width: 100%;
          overflow: hidden;
          position: relative;
          transition: .3s ease-in-out;
          overflow-y: auto;
          height: 100%;
        }
  
        .item {
          cursor: pointer;
          color: rgba(white, .6);
          padding: 1rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 14px;
          padding-left: 3rem;
  
          img {
            width: 1.2rem;
            margin-right: 15px;
          }
  
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .card-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 3rem;
      overflow: hidden;
      padding: 6rem 14rem;
      box-sizing: border-box;
      transition: .4s ease-in-out;

      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, #232323 5%, rgba(35, 35, 35, 0.37) 50%, #232323 95%);  
    }
      
      .blur-bkgr {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &_blur {
          filter: blur(9px);
        }
      }

      .info {
        height: 100%;
        width: 700px;
        z-index: 2;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateX(30%);
        position: absolute;
        opacity: 0;
        transition: .4s;
        transition-delay: .4s;

        &_opened {
          opacity: 1;
        }

        &__desc {
          display: flex;
          flex-direction: column;

          &-name {
            font-size: 2rem;
            margin-bottom: 1.5rem;
          }

          &-btn {
            width: 150px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid orange;
            font-weight: bold;
            margin-top: 2rem;
            cursor: pointer;
          }
        }

        &__rate {
          margin-left: 3rem;

          .block {
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;

            span {
              font-weight: bold;
              margin-top: .5rem;
            }
          }
        }
      }
  }
  
  .video-card {
    width: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 20px 3px black;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 1;
    transition: .4s ease-in-out;

    &_opened {
      transform: translateX(-90%);
    }
  
    &::after {
      content: '';
      display: block;
      padding-bottom: 143%;
    }
  
  }


  