.header {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 0 50px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .6), transparent);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;

  &__logo {
    &-img {
      height: 55px;
    }
  }
}
