<div class="genres">
    <a class="genres__item" *ngFor="let item of genres | isMainPipe" [class.genres__item_active]="isGenreActive(item.id)" (click)="onGenreChange(item)">{{ item.name }}</a>
</div>
