.genres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    &__item {
      padding: 4px 7px;
      background: black;
      margin-right: 4px;
      margin-bottom: 3px;
      cursor: pointer;

      &_active {
        background: orange;
      }
    }
}
