<div class="inside">
  <!-- <app-genre-menu [genres]="genres | async" [activeGenreId]="activeGenreId"
    (genreChange)="onCurrentGenreChange($event)"></app-genre-menu> -->


  <app-content-card [data]="item" *ngFor="let item of content"></app-content-card>


  <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="loadContent()">
  </div>
</div>
