<div class="inside">

    <app-content-card cardDesign="tv" countInRow="4" [data]="item" *ngFor="let item of content"></app-content-card>

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="loadContent()">
    </div>
</div>