@import '../../../../colors.scss';

:host {
  height: 100%;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;

  .card {
    margin-right: 100px;
    cursor: pointer;
    transition: .4s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;

    &_active {
      border-bottom: 4px solid $hover;

      .card__dark {
        opacity: 0;
      }
    }

    /* &:after {
      content: '';
      display: block;
      padding-bottom: 70%;
    } */

    &:hover {
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:last-child {
      margin-right: 0;
      border-right: none;
    }

    &__button {
      width: 80%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background: black;
      font-family: 'OpenSans-Bold', sans-serif;
      position: relative;
      transition: .2s;

      &_active {
        bottom: -25px;
        background: $hover;

        &::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $hover;
          position: absolute;
          left: calc(50% - 5px);
          bottom: -10px;
        }
      }
    }
  }
}

