<div class="categories">
  <a class="card" [routerLink]="item.path" *ngFor="let item of menuItems" routerLinkActive="card_active"> <!--  style.backgroundImage="url(assets/images/{{ item.image }})" -->
    <!-- <div class="card__dark"></div>
    <div class="card__button" routerLinkActive="card__button_active"> --> {{ item.name }}<!-- </div> -->
  </a>
</div>

