<div class="film-card" (click)="showDescription()" [style.width.%]="cardWidth">
  <div class="film-card__img" [class.film-card__img_small]="isTvDesign"  style.backgroundImage="url({{ video?.cover }})" role="img" [attr.alt]="video?.name">
    <!-- <span alt="qwe" role="img">{{ videoInformation?.name }}</span> -->
    <!-- <div class="film-card__time">
      {{ videoInformation?.duration }} мин.
    </div> -->
    <div class="film-card__ratings" *ngIf="video?.ratings?.imdb?.value || video?.ratings?.kinopoisk?.value">
      <div class="film-card__ratings-line" *ngIf="video?.ratings?.kinopoisk?.value">
        <div class="film-card__ratings-logo">
          <img class="film-card__ratings-logo-img" src="assets/icons/kinopoisk.png" alt="">
        </div>
        <div class="film-card__ratings-value">{{ video.ratings?.kinopoisk.value }}</div>
      </div>
      <div class="film-card__ratings-line" *ngIf="video?.ratings?.imdb?.value">
        <div class="film-card__ratings-logo">
          <img class="film-card__ratings-logo-img" src="assets/icons/imdb.png" alt="">
        </div>
        <div class="film-card__ratings-value">{{ video.ratings?.imdb.value }}</div>
      </div>
    </div>
    <div class="film-card__ratings" *ngIf="isCourse && video?.in_products[0]?.product_options[0]?.cost !== '12.90'">
      <div class="film-card__ratings-value">{{ video?.in_products[0]?.product_options[0]?.cost }} руб.</div>
      <div class="film-card__ratings-value">{{ video?.in_products[0]?.product_options[0]?.term }} дней</div>
    </div>
  </div>

  <div class="film-card__name">
    {{ video?.name }}
  </div>
  <div class="film-card__genre">
    {{ (video?.genres  | vodGenrePipe) | async }}
  </div>
</div>


