<div class="banner">

    <video id="video" class="banner__video" autoplay loop>
        
    </video>

    <div class="banner__shadow"></div>

  
</div>

    <div class="test">
        <div class="card-wrapper" *ngFor="let item of content" style.backgroundImage="url({{ item.cover}})">


            <div class="video-card" style.backgroundImage="url({{ item.cover}})">
    
                <div class="video-card__info">
            
            
                  <div class="video-card__info-name">
                    <div class="name">{{item.name}}</div>
                  </div>
                </div>
              </div>
        </div>
    </div>
