<div class="banner">

    <video id="video" class="banner__video" autoplay loop>

    </video>

    <div class="banner__shadow"></div>


</div>

<div class="test">
    <div class="card-wrapper" *ngFor="let item of content" style.backgroundImage="url({{ item.cover}})">


        <div class="video-card" style.backgroundImage="url({{ item.cover}})"></div>

        <div class="info">

            <div class="info__genres">
                АРХИВ, БОЕВИК, КОМЕДИЯ, ФАНТАСТИКА, ФЭНТЕЗИ
            </div>

            <div class="info__name">
                <div class="name" [innerHTML]="getNameWithColor(item.name)"></div>
            </div>
        </div>
    </div>
</div>