@import '../../../../colors.scss';

.banner {
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  
    .card {
      margin-right: 2%;
    }
  
    &__video {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    &__channels {
      width: 100%;
      z-index: 2;
      padding: 0 3rem;
      display: flex;
      justify-content: center;
  
      .dark {
        background: linear-gradient(to top, rgba(black, .8) 30%, transparent 100%);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        box-sizing: border-box;
        padding-bottom: 2rem;
        font-weight: bold;
        font-size: 1.4rem;
      }
  
      &-item {
        width: 19%;
        margin-right: 1%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
  
        &_nospace {
          margin-right: 0;
          width: 20%;
        }
  
        &::after {
          content: '';
          display: block;
          padding-bottom: 40%;
        }
      }
    }
  
  
    &__shadow {
      height: 330px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #232323, transparent);
    }
  }
  
  .title {
    display: flex;
    flex-direction: column;
    padding: 25rem 0 4rem 0;
    width: 90%;
    align-items: center;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 10px black;
    margin: 0 auto;
  
    &__big {
      text-transform: uppercase;
      font-size: 3.6rem;
      font-weight: bold;
    }
  
    &__small {
      font-size: 2rem;
    }
  }
  
  .test {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 95vh;
  }

  .card-wrapper {
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      padding: 4rem 0;
      height: 45rem;
      margin-top: 3rem;
      box-sizing: border-box;
      padding: 0 10rem;

      &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background: rgba(black, .6);  
      }
  }
  
  .video-card {
    height: 80%;
    width: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    // box-shadow: 0 0 20px 3px black;
    box-sizing: border-box;
    z-index: 1;


  
    
  }

  .info {
    height:  100%;
    // background: linear-gradient(to top, #232323, transparent);
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;

    &__genres {
        font-size: 1.4rem;
    }

    &__name {
      .name {
        font-weight: bold;
        font-size: 44px;
        color: white;
        text-transform: uppercase;
      }

    }
  }


  