@import "../../../colors.scss";

.banner {
  width: 100%;
  height: 27rem;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;

  &__darkness {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__image {
    position: absolute;
    width: 22.4rem;
    height: 33.12rem;
    bottom: -10rem;
    left: 4rem;
    z-index: 2;
    // box-shadow: $shadow-dark;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &_book {
      height: 22.4rem;
      bottom: 3rem;
    }
  }
}

.main-info {
  height: 23rem;
  margin-right: 4rem;
  box-sizing: border-box;
  width: 42.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  &__genres {
    line-height: 1rem;
    font-size: 0.75rem;
    padding-bottom: 0.21rem;
  }

  &__name {
    font-size: 1.83rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 0.88rem;

    &_en {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-bottom: 0.54rem;
    }
  }

  &__casts {
    font-size: 0.83rem;
    line-height: 1.13rem;
    padding-bottom: .54rem;
  }
}


.buttons {
  display: flex;

  .nobuttons {
    color: $hover;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
  }

  &__item {
    display: inline-block;
    background: black;
    color: white;
    text-transform: uppercase;
    padding: .6rem 2rem;
    text-align: center;
    font-size: .92rem;
    position: relative;
    margin-left: .83rem;
    cursor: pointer;
    outline: none;

    &_play {
      margin-left: 0;
    }

    &:focus {
      background: $hover;
    }

    &:hover {
      background: $hover;
    }
  }
}


.info {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: white;
  padding-top: 2rem;

  &__block {
    margin-right: 4rem;
    box-sizing: border-box;
    width: 42.5rem;
    display: flex;
    outline: none;

    &_book {
      width: 67.5rem;
    }

    &:focus {
      box-shadow: inset 0 -39px 40px -40px $hover;
    }

    .description {
      width: 64%;
      margin-right: 2rem;
      text-align: justify;

      &__header {
        text-transform: uppercase;
        font-size: 1.63rem;
        margin-bottom: 1.17rem;
      }
    }

    .ratings {
      width: 34%;
      display: flex;
      flex-direction: column;
      min-height: 8rem;

      &__item {
        width: 100%;
        height: 2.2rem;
        display: flex;
        align-items: center;
        // border-bottom: 1px solid $text-muted;
        font-size: .92rem;
        color: lightgray;
        outline: none;
        justify-content: space-between;

        strong {
          color: white;
          float: right;
          text-align: right;
          padding-left: 10px;
        }

        &:last-child {
          border-bottom: none;
        }

        &-air {
          display: block;
          max-width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}


.item-for-scroll {
  width: 100%;
  height: 1rem;
  margin-top: 3rem;
  background-color: lightblue;

  &:focus {
    background-color: orange;
  }
}
