
    <div class="banner" style.backgroundImage="url({{ video?.cover }})">
      <div class="banner__darkness">
        <div class="main-info">
          <div class="main-info__genres">{{ isAudiobook ? video?.genres : video?.genres | vodGenrePipe | async }}</div>
          <div class="main-info__name">{{ video?.name }}</div>
          <div class="main-info__name main-info__name_en" *ngIf="video?.international_name">{{ video?.international_name }}</div>
          <div class="main-info__casts" *ngIf="directors"><strong>Режиссер: </strong>{{ directors | async | castsPipe }}</div>
          <div class="main-info__casts" *ngIf="casts"><strong>{{ isAudiobook ? 'Авторы: ' : 'Актеры: ' }}</strong></div><!--{{ isAudiobook ? video?.cast : casts | async | castsPipe }}-->
  
          <!-- <div class="buttons">
            <div class="buttons__item buttons__item_play" *ngIf="isAudiobook && !(isBought | async)" (click)="playTrial()" (focus)="scrollToTop()" (keyEnterEvent)="playTrial()">Слушать фрагмент</div>
            <div class="buttons__item buttons__item_play" *ngIf="isAudiobook && (isBought | async)" (click)="playFull()" (focus)="scrollToTop()" (keyEnterEvent)="playFull()">Слушать</div>
            <div class="buttons__item buttons__item_play" *ngIf="!isAudiobook && isAuth" (click)="playVideo()" (focus)="scrollToTop()" (keyEnterEvent)="playVideo()">Смотреть</div>
            <div class="buttons__item" *ngIf="!isAuth" (click)="authorization()" (focus)="scrollToTop()" (keyEnterEvent)="authorization()">Авторизоваться</div>
            <div class="buttons__item" *ngIf="isAuth && !(isFavorite | async)" (click)="addToFavorite()" (focus)="scrollToTop()" (keyEnterEvent)="addToFavorite()">Добавить в избранное</div>
            <div class="buttons__item" *ngIf="isAuth && (isFavorite | async)" (click)="removeFromFavorite()" (focus)="scrollToTop()" (keyEnterEvent)="removeFromFavorite()">Удалить из избранного</div>
            <div class="buttons__item" *ngIf="isAudiobook && !(isBought | async)" (click)="buyBook()" (focus)="scrollToTop()" (keyEnterEvent)="buyBook()">Купить за {{ bookInfo.price_byn }}руб.</div>
          </div> -->
  
        </div>
      </div>
      <div class="banner__image" [class.banner__image_book]="isAudiobook" style.backgroundImage="url({{ video?.cover }})"></div>
    </div>
  
    <div class="info">
      <div class="info__block" [class.info__block_book]="isAudiobook">
        <div class="description" *ngIf="video?.description">
          <div class="description__header">Описание</div>
          <p [innerHTML]="video.description"></p>
        </div>

        <ng-container *ngIf="isAudiobook then audioTable else vodTable"></ng-container>

        <ng-template #vodTable>
          <div class="ratings">
            <div class="ratings__item" *ngIf="video?.countries">
              Страна <strong>{{ video.countries }}</strong>
            </div>
            <div *ngIf="video?.year" class="ratings__item">
              Год <strong>{{ video.year }}</strong>
            </div>
            <div *ngIf="video?.ratings?.imdb" class="ratings__item">
              IMDb <strong>{{ video.ratings.imdb.value }}</strong>
            </div>
            <div *ngIf="video?.ratings?.kinopoisk" class="ratings__item">
              Кинопоиск <strong>{{ video.ratings.kinopoisk.value }}</strong>
            </div>
            <div class="ratings__item" *ngIf="channel">
              Канал <strong>{{ (channel | async)?.name }}</strong>
            </div>
            <div class="ratings__item" *ngIf="tvshow">
              Эфир <strong class="ratings__item-air">{{ tvshow.start | startTimePipe }}</strong>
            </div>
          </div>
        </ng-template>

        <ng-template #audioTable>
          <div class="ratings">
            <div *ngIf="video?.year" class="ratings__item">
              Год <strong>{{ video.year }}</strong>
            </div>
    
            <div class="ratings__item">
              Издательство <strong>{{ video?.art }}</strong>
            </div>
    
            <div class="ratings__item">
              Длительность <strong>{{ video?.duration | durationTime }}</strong>
            </div>
    
            <div class="ratings__item">
              Правообладатель <strong>Литрес</strong>
            </div>
    
            <div *ngIf="video?.cast" class="ratings__item">
              Авторы <strong>{{ video.cast | castsPipe }}</strong>
            </div>
    
            <div *ngIf="video?.genres" class="ratings__item">
              Жанр <strong>{{ video.genres }}</strong>
            </div>
          </div>
        </ng-template>
  

  

      </div>
    </div>
  
    <!-- <app-series [video]="video" (playEvent)="playVideo($event)" *ngIf="isSeries && !isAudiobook"></app-series> -->
  
    <!-- <app-chapters *ngIf="isAudiobook && isSeries && isBought" [book]="bookInfo"></app-chapters> -->
  
  