.test {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15rem;
  padding-top: 4rem;

  .video-card {
    width: 26%;
    margin-right: 4%;
    margin-bottom: 3rem;

    &__img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        padding-bottom: 140%;
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, transparent 70%, black 100%);
      }
    }

    &__info {
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;

      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .genre {
        font-size: .9rem;
        color: #e05f20;
      }
    }
  }
}