<div class="test">

  <app-main-menu></app-main-menu>
  
  <div class="video-card" *ngFor="let item of content">
    <div class="video-card__img" style.backgroundImage="url({{ item.cover }})"></div>
    <div class="video-card__info">
      <span class="name">{{ item.name }}</span>
      <span class="genre">Боевик, комедия, драма</span>
    </div>
  </div>
</div>