<div class="main-menu">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="160" height="50"
        viewBox="0 0 160 50">
        <defs>
            <linearGradient id="c" x1="100%" x2="0%" y1="50%" y2="50%">
                <stop offset="0%" stop-color="#A3C718" />
                <stop offset="100%" stop-color="#ABE06A" />
            </linearGradient>
            <path id="b" d="M18.598.608v20l16-10.821z" />
            <filter id="a" width="20px" height="20px" x="-43.8%" y="-25%" filterUnits="objectBoundingBox">
                <feOffset dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
                <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2" />
                <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0" />
            </filter>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <text font-family="OpenSans-Bold" font-size="16" font-weight="bold" transform="translate(45 11)">
                <tspan x="0" y="26" fill="#FFF">PERSIK </tspan>
                <tspan x="59.691" y="26" fill="#E05F20">TV</tspan>
            </text>
            <path fill="#E05F20"
                d="M18 46.342c-9.941 0-18-8.06-18-18 0-9.941 8.059-18 18-18s18 8.059 18 18c0 9.94-8.059 18-18 18zm0-10.957a7.043 7.043 0 1 0 0-14.087 7.043 7.043 0 0 0 0 14.087z" />
            <g transform="translate(0 1)">
                <use fill="#000" filter="url(#a)" xlink:href="#b" />
                <use fill="url(#c)" xlink:href="#b" />
            </g>
        </g>
    </svg>

    <div class="container">
        <div class="container__item" *ngFor="let chapter of menuItems">
            <span class="container__item-name">{{ chapter.name }}</span>
            <div class="container__item-elem" [routerLink]="item.path" *ngFor="let item of chapter.elems">
                <img src="assets/menu-icons/{{item.image}}" alt="">
                <span>{{ item.name }}</span>
            </div>
        </div>
    </div>
</div>