.main-menu {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 12rem;
    background-color: rgba(black, .2);
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2rem;

    .container {
      margin-top: 2rem;
      width: 100%;
      border-top: 1px solid rgba(white, .1);

      &__item {
        text-transform: uppercase;
        font-size: .8rem;
        cursor: pointer;
        color: rgba(white, .6);
        border-bottom: 1px solid rgba(white, .1);
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        transition: .3s ease-in-out;

        &-name {
          display: block;
          width: 100%;
        }
  
        &-elem {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 1rem;
          outline: none;
  
          img {
            margin-right: 15px;
            height: 1.2rem;
          }
  
          span {
            text-transform: capitalize;
          }
        }
      }
    }
  }