<div class="subcategories">
    <a [routerLink]="item.path" class="subcategories__item" *ngFor="let item of categories"
        style.backgroundImage="url(assets/images/{{ item.image }})" routerLinkActive="subcategories__item_active">
        <div class="subcategories__item-dark"></div>
        <div class="subcategories__item-button" routerLinkActive="subcategories__item-button_active">{{ item.name }}
        </div>
    </a>
</div>