@import '../../../colors.scss';

:host {
  width: 100%;
}

.subcategories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: transparent;
    position: relative;
    z-index: 3;

    &__item {
      width: 16%;
      margin-right: 2%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      box-shadow: 5px 5px 20px 0 black;
      transition: .4s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      box-sizing: border-box;
      padding-bottom: 25px;

      &-dark {
        background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      &_active {
       .subcategories__item-dark {
        background: linear-gradient(to top, rgba($hover, .8), transparent);
       }
      }

      &:after {
        content: '';
        display: block;
        padding-bottom: 60%;
      }

      &:hover {
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }

      &:last-child {
        margin-right: 0;
      }

      &-button {
        font-family: 'OpenSans-Bold', sans-serif;
        transition: .2s;
        position: relative;
        z-index: 1;
        padding-bottom: 1rem;

        &_active {
          border-bottom: 3px solid white;
        }
      }
    }
  }
