<div class="inside">
  <h2 class="inside__way">СМОТРИ / ТВ / ВСЕ Жанры</h2>
  <!-- <app-genre-menu [genres]="genres | async" [activeGenreId]="activeGenreId" (genreChange)="onCurrentGenreChange($event)"></app-genre-menu> -->
  <app-channel-card class="card" countInRow="5" *ngFor="let item of channels | async" [channel]="item" [currentTime]="currentTime"></app-channel-card>
</div>
