<div class="inside">
    <app-genre-menu [genres]="genres | async" [activeGenreId]="activeGenreId" (genreChange)="onGenreChange($event)"></app-genre-menu>

    <app-audiobook-card *ngFor="let item of books" [book]="item"></app-audiobook-card>

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="loadContent()"></div>
</div>