<div class="card-wrapper" [class.card-wrapper_opened]="isClicked(item.video_id)" *ngFor="let item of content" (click)="selectCard(item.video_id)">

    <div class="blur-bkgr" [class.blur-bkgr_blur]="isClicked(item.video_id)"  style.backgroundImage="url({{ item.cover }})"></div>

    <div class="video-card" [class.video-card_opened]="isClicked(item.video_id)" style.backgroundImage="url({{ item.cover }})"></div>

    <div class="info" [class.info_opened]="isClicked(item.video_id)">
      <div class="info__desc">
        <div class="info__desc-name">
          {{ item.name }}
        </div>

        <div class="info__desc-text">
          Не следует, однако забывать, что укрепление и развитие структуры играет важную роль в формировании модели развития. Разнообразный и богатый опыт сложившаяся структура организации играет важную роль в формировании модели развития. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
        </div>

        <div class="info__desc-btn">
          Смотреть
        </div>
      </div>

      <div class="info__rate">
        <div class="block">
          Длительность:
          <span>1ч. 20мин.</span>
        </div>

        <div class="block">
          ImDb:
          <span>10</span>
        </div>

        <div class="block">
          Kinopoisk:
          <span>10</span>
        </div>
      </div>
    </div>
  </div>