<div class="banner">

    <div class="banner__shadow"></div>

</div>


    <div class="test">

        <div class="title">
            <span class="title__big">ТВ</span>
            <span class="title__small">Сейчас смотрят</span>
        </div>
        <div class="card-wrapper" *ngFor="let item of (channels | async)">

            <div class="card-wrapper__img" style.backgroundImage="url({{ getCover(item.channel_id, 2000, 2000)}})"></div>

            <div class="channel-card" style.backgroundImage="url({{ getCover(item.channel_id, 2000, 2000)}})">

                <div class="channel-card__info">

                  <img [src]="item.logo" alt="" class="channel-card__info-logo">

                  <div class="channel-card__info-name">
                    <div class="name">{{item.name}}</div>
                    <div class="info">Сейчас в эфире: <span> Новости</span></div>
                  </div>
                </div>
              </div>
        </div>
    </div>
