@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: OpenSans-Bold;
  src: url('./assets/fonts/OpenSans-Bold.ttf') format("truetype");
}
@font-face {
  font-family: OpenSans-Light;
  src: url('./assets/fonts/OpenSans-Light.ttf') format("truetype");
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url('./assets/fonts/OpenSans-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: OpenSans-Extrabold;
  src: url('./assets/fonts/OpenSans-ExtraBold.ttf') format("truetype");
}

@import './colors.scss';

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  background: $background;
  color: white;
}

a {
  color: white;
  text-decoration: none;

  &:active {
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1rem;
}

.page {
  width: 100%;
  box-sizing: border-box;
}

.inside {
  width: 100%;
  padding: 0 0 3rem 0;
  position: relative;
  z-index: 5;

  &__way {
    text-transform: uppercase;
    color: gray;
    font-size: 1.5rem;
    padding: 2rem 0; 
  }
}

.orange-text {
  color: $hover !important;
}
