.test {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 15rem;
  padding-top: 120px;
  position: relative;

  .header  {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(black, .3);
    padding: 0 30px;
    position: fixed;
    left: 0;
    top: 0;

    &__menu {
      width: 45px;
      height: 45px;
      border: 1px solid #e05f20;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &-line {
        width: 35px;
        height: 2px;
        background-color: #e05f20;
        position: relative;

        &::after {
          position: absolute;
          content: '';
          top: 8px;
          width: 35px;
          height: 2px;
          background-color: #e05f20;
        }

        &::before {
          position: absolute;
          content: '';
          bottom: 8px;
          width: 35px;
          height: 2px;
          background-color: #e05f20;
        }
      }
    }
  }

  .video-card {
    width: 26%;
    margin-right: 4%;
    margin-bottom: 3rem;

    &__img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 12px;
      position: relative;
      overflow: hidden;

      &::after {
        content: '';
        display: block;
        padding-bottom: 140%;
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to bottom, transparent 70%, black 100%);
      }
    }

    &__info {
      width: 100%;
      height: 4rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;

      .name {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .genre {
        font-size: .9rem;
        color: #e05f20;
      }
    }
  }
}