<div class="banner"><!--  style.backgroundImage="url({{ getCover((posterChannel | async).channel_id, 1500, 1200)}})" -->

   <!-- <video id="video" class="banner__video" autoplay loop></video> -->

  <div class="banner__shadow"></div>

  
    <div class="title">
      <span class="title__big">ТВ</span>
      <span class="title__small">Сейчас смотрят</span>
    </div>
    <div class="channel-card" *ngFor="let item of (channels | async)" style.backgroundImage="url({{ getCover(item.channel_id, 2000, 2000)}})">
  
      <!-- <div class="thumbnail" style.backgroundImage="url({{ getCover(item.channel_id, 2000, 2000)}})">
  
      </div> -->
      <div class="channel-card__info">
  
        <img [src]="item.logo" alt="" class="channel-card__info-logo">
  
        <div class="channel-card__info-name">
          <div class="name">{{item.name}}</div>
          <div class="info">Сейчас в эфире: <span style="color: orange"> Новости</span></div>
        </div>
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
  

  <!-- <app-subcategory-menu [categories]="categories"></app-subcategory-menu>

  <div class="banner__channels">
    <div class="banner__channels-item" [class.banner__channels-item_nospace]="step < 5" *ngFor="let item of channels | async" style.backgroundImage="url({{ getCover(item.channel_id)}})">
      <div class="dark">{{ item.name }}</div>
    </div>
  </div> -->
</div>
<!--
<div class="banner" style.backgroundImage="url({{ getCover((nextPosterChannel | async).channel_id, 1500, 1200)}})">

  <video id="video" class="banner__video" autoplay loop></video>

  <div class="banner__shadow"></div>

  <app-subcategory-menu [categories]="categories"></app-subcategory-menu>

  <div class="banner__channels">
    <div class="banner__channels-item" *ngFor="let item of hdChannels | async" style.backgroundImage="url({{ getCover(item.channel_id)}})">
      <div class="dark">{{ item.name }}</div>
    </div>
  </div>
</div> -->





