.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../../assets/images/main1.jpg');
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  &__video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__channels {
    width: 100%;
    z-index: 2;
    padding: 0 3rem;
    display: flex;
    justify-content: center;

    .dark {
      background: linear-gradient(to top, rgba(black, .8) 30%, transparent 100%);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      box-sizing: border-box;
      padding-bottom: 2rem;
      font-weight: bold;
      font-size: 1.4rem;
    }

    &-item {
      width: 19%;
      margin-right: 1%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &_nospace {
        margin-right: 0;
        width: 20%;
      }

      &::after {
        content: '';
        display: block;
        padding-bottom: 40%;
      }
    }
  }


  &__shadow {
    height: 330px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #232323, transparent);
  }
}

.title {
  display: flex;
  flex-direction: column;
  padding: 10rem 0 4rem 0;
  width: 90%;
  align-items: center;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 10px black;

  &__big {
    text-transform: uppercase;
    font-size: 3.6rem;
    font-weight: bold;
  }

  &__small {
    font-size: 2rem;
  }
}

.test {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.channel-card {
  width:60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  position: relative;
  // box-shadow: 0 0 20px 3px black;
  box-sizing: border-box;

  .thumbnail {
    width: 25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 4rem;
    top: 2.5rem;
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    padding-bottom: 55%;
  }

  &__info {
    height:  14rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #232323, transparent);
    box-sizing: border-box;
    padding: 3rem 5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    &-logo {
      width: 7rem;
      margin-right: 1.5rem;
      margin-bottom: -.7rem;
    }

    &-name {
      .name {
        font-weight: bold;
        font-size: 2rem;
      }

      .info {
        font-size: 1.1rem;
      }
    }
  }
}
